# Configurações da API BRAPI
# Obtenha seu token em: https://brapi.dev/
BRAPI_TOKEN=seu_token_aqui

# Configurações do Django
DEBUG=True
SECRET_KEY=django-insecure-change-this-in-production

# Configurações de E-mail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=seu_email@gmail.com
EMAIL_HOST_PASSWORD=sua_senha_de_app
DEFAULT_FROM_EMAIL=seu_email@gmail.com 